    /* RESET */

* {
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */

  }

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header li > i * {
  color: #ffffff;
}

div.user-header > ul li  {
  margin: 0 5px;
}

div.search-by-gender-header > ul li  {
  margin: 0 5px;
}

    /* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
    max-width: 1100px; /* Larghezza massima */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}


    /* HEADER */
header {
  background-color: rgb(255, 72, 0);
  color: white;
}
.navbar-header li {
  display: inline-block;
}

.search-by-gender-header {
  align-content: center;
}

.logo-header {
  flex-grow: 1;
  text-align: center;
}

.img-logo {
  height: 45px;
  padding: 10px 0;
  margin-right: 100px;
}



.user-header {

}


    /* MAIN */


    /* FOOTER */